@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #F6EDE8;
  width: screen;
  height: screen;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Quadro-branco {
  background-color: #FFFCF7;
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 2vh;
}

.Quadro-cronograma{
  background-color: #F6EDE8;
  width: 65vw;
  height: 67vh;
  border-radius: 15px;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  overflow-y: scroll;


}

.Texto-cronograma {
  max-height: 60vh;
  max-width: 65vw;
  font-size:xx-small;
  margin: 0px;
}

.Título {
  font-size: medium;
  color: #004E7E;
  margin: 0px;
  margin-top: 2vh;
}