.cronograma-container {
  display: flex;
  flex-direction: column; 
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: transparent; 
  padding: 0rem; 
  gap: 0.5rem;
}

.conteinerdias {
    width: 57vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
    row-gap: 2vh;
    align-items: start;
}

.Caixa-dia {
    width: 100%;
    border-radius: 20px;
    background-color: #F6EDE8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.4s;
}

.Caixa-dia[open] {
    background-color: #F6EDE8;
    transition: all 0.4s;
}

.Caixa-dia:hover {
    background-color: #F38763;
    color: white;
    transition: all 0.2s;
}

.Caixa-input {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-bottom: 10px;
}

.Título {
  font-size: 24px;
  margin-bottom: 16px;
  color:#004E7E;
}

.Quadro-cronograma {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.Texto-cronograma {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.Texto-cronograma li {
  margin-bottom: 8px;
}

.Texto-cronograma p {
  color: #666;
}

.quadro {
  background-color: #FFFCF7;
  width: 80vw;
  height: 85vh;
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  justify-items: center;
  border-radius: 15px;
  margin-top: 2vh;
  padding: 3vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
